<ion-header>
  <ion-toolbar>
    <ion-title>Ship list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let ship of ships">
        <ion-card routerLink="/tabs/ships/{{ship.id}}">
          <img [src]="ship.shipPicture" [alt]="ship.shipName">
          <ion-card-title style="text-align: center;">{{ ship.shipName }}</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/tabs/ships/new">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
