<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/ships"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="ship">{{ ship.shipName }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment">
      <ion-segment-button value="view">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label *ngIf="!edit">View ship</ion-label>
      </ion-segment-button>
      <ion-segment-button value="edit">
        <ion-icon name="hammer-outline"></ion-icon>
        <ion-label *ngIf="edit">Edit</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!edit && ship" style="margin-bottom: 10px;">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ ship.shipName }}</ion-card-title>
        <ion-card-subtitle>
          <ion-badge color="primary">{{ ship.shipSize }}</ion-badge>
          <ion-badge *ngIf="ship.shipFlightReady" color="success">Flyable</ion-badge>
          <ion-badge *ngIf="!ship.shipFlightReady" color="danger">Not flyable</ion-badge>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row  *ngIf="ship.shipPicture">
            <ion-col>
              <ion-item>
                <img [src]="ship.shipPicture">
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="ship.brandName">
            <ion-col>
              <ion-item>
                <ion-label>Made by</ion-label>
                <ion-input disabled value="{{ ship.brandName }}"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="ship.shipRole">
            <ion-col>
              <ion-item>
                <ion-label>Role</ion-label>
                <ion-input disabled value="{{ ship.shipRole }}"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="ship.shipLength">
            <ion-col>
              <ion-item>
                <ion-label>Lenth</ion-label>
                <ion-input disabled value="{{ ship.shipLength }} m"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="ship.shipWidth">
            <ion-col>
              <ion-item>
                <ion-label>Width</ion-label>
                <ion-input disabled value="{{ ship.shipWidth }} m"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="ship.shipHeight">
            <ion-col>
              <ion-item>
                <ion-label>Height</ion-label>
                <ion-input disabled value="{{ ship.shipHeight }} m"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="ship.shipWeight">
            <ion-col>
              <ion-item>
                <ion-label>Weight</ion-label>
                <ion-input disabled value="{{ ship.shipWeight }} kg"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="ship.shipDesc">
            <ion-col>
              <ion-title>Ship Description</ion-title>
              <ion-item>
                <ion-text>{{ ship.shipDesc }}</ion-text>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-button expand="round" color="danger" (click)="confirmDelete(ship.id)">
      <ion-icon name="remove"></ion-icon>
      Remove
    </ion-button>
  </div>

  <div *ngIf="edit && ship">
    <ion-item>
      <ion-label>Picture link</ion-label>
      <ion-input type="text" [(ngModel)]="ship.shipPicture"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" [(ngModel)]="ship.shipName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Brand</ion-label>
      <ion-input type="text" [(ngModel)]="ship.brandName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Role</ion-label>
      <ion-input type="text" [(ngModel)]="ship.shipRole"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Size</ion-label>
      <ion-input type="text" [(ngModel)]="ship.shipSize"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Length (in m)</ion-label>
      <ion-input type="text" [(ngModel)]="ship.shipLength"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Width (in m)</ion-label>
      <ion-input type="text" [(ngModel)]="ship.shipWidth"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Height (in m)</ion-label>
      <ion-input type="text" [(ngModel)]="ship.shipHeight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Weight (in kg)</ion-label>
      <ion-input type="text" [(ngModel)]="ship.shipWeight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea rows="10" [(ngModel)]="ship.shipDesc"></ion-textarea>
    </ion-item>
    <p>
      <ion-button expand="round" (click)="onEdit()">
        <ion-icon name="hammer-outline"></ion-icon>
        Save
      </ion-button>
    </p>
  </div>
  <ion-fab *ngIf="!edit && ship" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="share()">
      <ion-icon name="share-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
