<ion-header>
  <ion-toolbar>
    <ion-title>Brand list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-list style="margin-bottom: 75px">
    <ion-item routerLink="/tabs/brands/{{brand.id}}" *ngFor="let brand of brands">
      <ion-label>{{brand.brandName}}</ion-label>
      <ion-badge color='primary'>{{brand.brandCode}}</ion-badge>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/tabs/brands/new">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
